.line1 {
  margin-left: 5cm;
  color: #2E86C1;
  font-size: 17px;
}
.line2 {
  margin-left: 5cm;
  color: #2E86C1;
  font-size: 17px;
}
.line3 {
  margin-left: 5cm;
  color: #2E86C1;
  font-size: 17px;
}
.deletebutton{
  margin-left: 5cm;
  background-color: #2E86C1;
  color: white;
  border-radius: 12cm;
  width: 2cm;
}
